<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724715283419-bp4tr55llq1fc7rgllfk40og8achpt3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724715283419-bp4tr55llq1fc7rgllfk40og8achpt3b</string>
	<key>API_KEY</key>
	<string>AIzaSyDxJ-GPZh5WkC4xJUW9MbxCwY8aA4HyEVY</string>
	<key>GCM_SENDER_ID</key>
	<string>724715283419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.covidApp</string>
	<key>PROJECT_ID</key>
	<string>covid-app-2a0e3</string>
	<key>STORAGE_BUCKET</key>
	<string>covid-app-2a0e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724715283419:ios:d275a1284279e1b4f37dfe</string>
</dict>
</plist>